h1{
    background-color: brown;
    color: antiquewhite;
}

.accordian_content {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }